
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.font-bebas-neue {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

html {
  font-size: 12px;
}

body {
  font-size: 1.2em;
}

body, html {
  background: #222;
  color: #eee;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  margin: 0;
  padding: 0;
  text-align: center;
}

h1 { font-size: 3em;   font-weight: 800; font-family: "Bebas Neue", sans-serif; }
h2 { font-size: 2.4em; font-weight: 200; font-family: "Bebas Neue", sans-serif; }
h3 { font-size: 2em;   font-weight: 800; font-family: "Bebas Neue", sans-serif; }
h4 { font-size: 1.6em; font-weight: 800; font-family: "Bebas Neue", sans-serif; }
h5 { font-size: 1.4em; font-weight: 800; font-family: "Bebas Neue", sans-serif; }

p { font-weight: 400; }
a { font-size: inherit; font-weight: inherit; }
.bold { font-weight: 800; }
.accent { color: #ffc442; }

main {
  padding: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
}

.cards {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #333;
  border-radius: 8px;
  padding: 30px;
  min-width: 200px;
  min-height: 100px;
  font-size: 1.5em;
  line-height: 1.5em;
  border: solid 2px #0000004a;
  box-shadow: -5px 5px 4px 0px #0000007d;
}

.card.answer {
  background: rgb(36 68 49);
  width: 200px;
}
.card.answer.revealed {
  color: #9ae2e2;
}

.card.answer.revealed .accent {
  color: #61ebc5;
}

.card.answer.revealed > .content { display: block; }
.card.answer.revealed > .intrigue { display: none; }
.card.answer:not(.revealed) > .content { display: none; }
.card.answer:not(.revealed) > .intrigue { display: block; }

.controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 5px 0;
}

.controls-container {
  position: relative;
  display: inline-flex;
  margin: auto;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

button {
  display: inline-block;
  margin: 10px;
  padding: 8px 16px;
  background: #eedb88;
  border-radius: 8px;
  border: 2px solid black;
  color: #333;
  cursor: pointer;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 800;
  box-shadow: -2px 2px 0px 0px #0000007d;
}

button.prev {
  background: #101010;
  color: #eee;
}

button.speak {
  position: absolute;
  left: 100%;
  margin-left: 10px;
  padding: 6px 12px;
  background: #101010;
  color: #eee;
  opacity: 1;
}

button:disabled {
  opacity: 0.5;
  filter: grayscale(1);
}

.reshuffle-section-container {
  position: relative;
  display: inline-block;
  margin: auto;
}

.options {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.options > .options-container {
  display: flex;
  text-align: center;
  margin: auto;
  flex-wrap: wrap;
  flex-direction: row;
  min-width: 300px;
}

.options .option {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: start;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

input[type=checkbox],
input[type=radio] {
  margin-left: 0;
}
