<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/icomoon.css">

  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
<%= htmlWebpackPlugin.tags.bodyTags %>


<main id="main" class="main">
  <div class="container">
    <h1>🇧🇷 Português Exercises</h1>

    <!-- <h4 class="font-open-sans">Translate these sentences. If you dare!</h4> -->

    <div class="cards">
      <div class="card-left-sidebar">
        <div class="tooltip">
          <div class="tooltip-text">Snooze question for 1 hour</div>
          <button id="button-snooze-1h" data-seconds="3600" class="snooze"><span class="icon-clock"></span>&nbsp;<span class="snooze-time">1h</span></button>
        </div>
        <div class="tooltip">
          <div class="tooltip-text">Snooze question for 7 days</div>
          <button id="button-snooze-7d" data-seconds="604800" class="snooze"><span class="icon-clock"></span>&nbsp;<span class="snooze-time">7d</span></button>
        </div>
        <div class="tooltip">
          <div class="tooltip-text">Snooze question for 30 days</div>
          <button id="button-snooze-30d" data-seconds="2592000" class="snooze"><span class="icon-clock"></span>&nbsp;<span class="snooze-time">30d</span></button>
        </div>
      </div>

      <div id="card-question" class="card question">
        <span class="content">
          eu quero taco bell
        </span>
        <h3 class="intrigue">?</h3>
      </div>

      <div id="card-answer" class="card answer">
        <span class="content">
          eu quero taco bell
        </span>
        <h3 class="intrigue">?</h3>
      </div>
    </div>

    <div class="controls">
      <div class="controls-container">
        <button id="button-prev" class="prev">
          <span>←&nbsp;</span>
          <span class="content">PREV</span>
        </button>
        <button id="button-next" class="next">
          <span class="content">NEXT</span>
          <span>&nbsp;→</span>
        </button>
        <div class="button-speak-container">
          <button id="button-speak" class="speak" title="Speak portuguese phrase">
            <span>🔊</span>
          </button>
          <span id="speech-status"></span>
        </div>
      </div>
    </div>

    <p id="progress" class="progress bold">1 / 29</p>

    <div>
      <div class="reshuffle-section-container">
        <button id="button-reshuffle" class="reshuffle">
          <span>🎲&nbsp;</span>
          <span class="content">RESHUFFLE</span>
        </button>
      </div>
    </div>

    <section class="options">
      <h3>Opções</h3>
      <div class="options-container">
        <div class="option">
          <p><strong>Flashcard Order</strong></p>
          <form id="form-question-order" onsubmit="(e) => e.preventDefault()">
            <p>
              <label><input name="question-order" type="radio" value="pr-first" /> Portuguese first</label>
            </p>
            <p>
              <label><input name="question-order" type="radio" value="en-first" /> English first</label>
            </p>
            <p>
              <label><input name="question-order" type="radio" value="any" checked /> Any</label>
            </p>
          </form>
        </div>
        <div class="option">
          <p><strong>Exercises</strong></p>
          <form id="form-select-exercises" onsubmit="(e) => e.preventDefault()">
            <p>
              <label><input name="checkbox-exercise-ver-conjugation" type="checkbox" checked /> Ver Conjugation</label>
            </p>
            <p>
              <label><input name="checkbox-exercise-vir-conjugation" type="checkbox" checked /> Vir Conjugation</label>
            </p>
            <p>
              <label><input name="checkbox-exercise-weak-phrases" type="checkbox" checked /> Weak Phrases</label>
            </p>
          </form>
        </div>
      </div>
      <div class="options-container">
        <div class="option">
          <p><strong>Quiz Mode</strong></p>
          <form id="form-select-mode" onsubmit="(e) => e.preventDefault()">
            <p>
              <select name="select-mode" id="select-mode">
                <option value="mode-reading">Reading</option>
                <option value="mode-listening">Listening</option>
              </select>
            </p>
          </form>
        </div>
      </div>
      <div class="options-container">
        <div class="option">
          <p><strong>Text-to-Speech Voice</strong></p>
          <form id="form-select-voice" onsubmit="(e) => e.preventDefault()">
            <p>
              <select id="select-voice"></select>
            </p>
          </form>
        </div>
      </div>
      <div class="options-container">
        <div class="option">
          <p><strong>Misc</strong></p>
          <button id="button-unsnooze" class="unsnooze">↩️&nbsp;&nbsp;Un-snooze All Questions</button>
        </div>
      </div>
    </section>

  </div>
</main>

</body>
</html>
